
/* Header section styles */
.header-section{
    background-color: #264653;
}

/* Main section styles */
.honda-gray-img{
    filter: grayscale(100%);
}

.honda-gray-img:hover{
    filter: grayscale(0%);
}

.honda-img:hover{
    transform: scale(1.15);
}