/* Google Fonts - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Header section styles */
.header-section{
    background-color: #264653;
    width: 100%;
}


/* Main section styles */

.special-button{
    color: white !important;
    background-color: #E76F51 !important;
    border: 1px solid grey !important;
}

.honda-heading-size{
    font-size: 45px;
    font-weight: 600;
}

.honda-bg-color{
    color: #E76F51;
}

.honda-special-hr{
    opacity: 100%;
    margin: auto;
    width: 60px;
    border-bottom: 2px solid #e66646;
}

.honda-gray-img{
    filter: grayscale(100%);
}

.honda-gray-img:hover{
    filter: grayscale(0%);
}

.honda-img:hover{
    transform: scale(1.20);
    opacity: 95%;
}

.honda-paragraph-color{
    color: #6C6C6C;
}

.honda-star-color{
    color: #E77C40;
}

#Gallery button:hover{
    background-image: linear-gradient(to right, tomato, rgb(229, 183, 151));
}

.honda-query-section{
    background-color: #f4fafa;
}